[submodule "hw/spatz"]
	path = hw/spatz
	url = https://github.com/pulp-platform/spatz.git
[submodule "hw/axi"]
	path = hw/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "hw/common_cells"]
	path = hw/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "hw/snitch_cluster"]
	path = hw/snitch_cluster
	url = https://github.com/pulp-platform/snitch_cluster.git
[submodule "hw/fpnew"]
	path = hw/fpnew
	url = https://github.com/pulp-platform/cvfpu.git
[submodule "hw/tech_cells"]
	path = hw/tech_cells
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "hw/riscv-dbg"]
	path = hw/riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "hw/idma"]
	path = hw/idma
	url = https://github.com/pulp-platform/iDMA.git
[submodule "hw/magia"]
	path = hw/magia
	url = https://github.com/pulp-platform/MAGIA.git
[submodule "hw/obi"]
	path = hw/obi
	url = https://github.com/pulp-platform/obi.git
[submodule "hw/register_interface"]
	path = hw/register_interface
	url = https://github.com/pulp-platform/register_interface.git
[submodule "hw/axi_stream"]
	path = hw/axi_stream
	url = https://github.com/pulp-platform/axi_stream.git
